@page
@model Website_Hoekstra.Pages.Register


<div>
    <form method="post" asp-page-handler="tryAddUser">
        @* <input type="text" placeholder="Username" value="@Model.User.username" name="username" /><br> *@
        @* <input type="email" placeholder="Email" value="@Model.User.email" name="email" /><br> *@
        @* <input type="text" placeholder="First Name" value="@Model.User.first_name" name="first_name"> *@
        @* <input type="text" placeholder="Last Name" value="@Model.User.last_name" name="last_name"><br> *@
        @* <input type="password" placeholder="Password" value="@Model.User.password" name="password"> *@

        
        <div class="input-group mt-1">
            <div class="input-group-prepend">
                <span class="input-group-text" >Username</span>
                </div>
            <input type="text" class="form-control" value="@Model.User.username" name="username">
            </div>
        <div class="input-group mt-1">
            <div class="input-group-prepend">
                <span class="input-group-text" >Email</span>
                </div>
            <input type="email" class="form-control"  placeholder="example@example.com" value="@Model.User.email" name="email">
        </div>
        <div class="input-group mt-1">
            <div class="input-group-prepend">
                <span class="input-group-text">First name</span>
            </div>
            <input type="text" class="form-control" value="@Model.User.first_name"  name="first_name">
        </div>
        <div class="input-group mt-1">
            
            <div class="input-group-prepend">
                <span class="input-group-text">Last name</span>
            </div>
            <input type="text" class="form-control" value="@Model.User.last_name" name="last_name">
        </div>
        <div class="input-group mt-1">
            <div class="input-group-prepend">
                <span class="input-group-text">Password</span>
                </div>
            <input type="password" class="form-control" id="password" value="@Model.User.password" name="password">
            </div>
        <button class="btn btn-success ml-auto mt-2" type="submit">Submit</button>

    </form>
</div>