<!--@using Website_Hoekstra.Pages.ViewComponents
@model List<Website_Hoekstra.Pages.ViewComponents.LoginHandler>

<ul>
    @foreach(var loginHandler in Model)    
    {
        <li>
            @loginHandler.testStringName
        </li>
    }
</ul>

<div>-->
    @* <form method="post" asp-page-handler="tryAddUser"> *@
    @*     <input type="text" placeholder="Username" value="@LoginHandler.UserList.username" name="username"/><br> *@
    @*     <input type="email" placeholder="Email" value="@LoginHandler.UserList.email" name="email"/><br> *@
    @*     <input type="text" placeholder="First Name" value="@LoginHandler.UserList.first_name" name="first_name"> *@
    @*     <input type="text" placeholder="Last Name" value="@LoginHandler.UserList.last_name" name="last_name"><br> *@
    @*     <input type="password" placeholder="Password" value="@LoginHandler.UserList.password" name="password"> *@
    @* *@
    @*     <button type="submit">Register</button> *@
    @* *@
    @* </form> *@
<!--</div>-->
