@using Website_Hoekstra.Pages.ViewComponents
@* @model List<Website_Hoekstra.Pages.ViewComponents.LoginHandler> *@
@model List<LoginHandler>

@* hier zijn hoop en dromen gestorven *@

@* <div> *@
@*     <form method="POST" asp-controller="Login" asp-action="Index"> *@
@*         $1$ <input type="text" placeholder="Username" value="@Model.User.username" name="username"/><br> #1# *@
@*         $1$ <input type="email" placeholder="Email" value="@LoginHandler.UserList.email" name="email"/><br> #1# *@
@*         $1$ <input type="text" placeholder="First Name" value="@LoginHandler.UserList.first_name" name="first_name"> #1# *@
@*         $1$ <input type="text" placeholder="Last Name" value="@LoginHandler.UserList.last_name" name="last_name"><br> #1# *@
@*         $1$ <input type="password" placeholder="Password" value="@LoginHandler.UserList.password" name="password"> #1# *@
@*          *@
@*         <input type="text" placeholder="testText" name="TestText"> *@
@*          *@
@*         <button type="submit">Register</button> *@
@*      *@
@*     </form> *@
@* </div> *@
